src/Services/PayamGostar/wsdl/icontract_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Contract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="IContract.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="IContract_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="IContract_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      <xsd:import schemaLocation="IContract_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="IContract_4.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.Domain.Model"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContract_SaveContract_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveContract"/>
  </wsdl:message>
  <wsdl:message name="IContract_SaveContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveContractResponse"/>
  </wsdl:message>
  <wsdl:message name="IContract_SearchContract_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchContract"/>
  </wsdl:message>
  <wsdl:message name="IContract_SearchContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchContractResponse"/>
  </wsdl:message>
  <wsdl:message name="IContract_FindContractById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindContractById"/>
  </wsdl:message>
  <wsdl:message name="IContract_FindContractById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindContractByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="IContract_DeleteContractById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContractById"/>
  </wsdl:message>
  <wsdl:message name="IContract_DeleteContractById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContractByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="IContract_ApprovedContract_InputMessage">
    <wsdl:part name="parameters" element="tns:ApprovedContract"/>
  </wsdl:message>
  <wsdl:message name="IContract_ApprovedContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApprovedContractResponse"/>
  </wsdl:message>
  <wsdl:message name="IContract_RejectedContract_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectedContract"/>
  </wsdl:message>
  <wsdl:message name="IContract_RejectedContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectedContractResponse"/>
  </wsdl:message>
  <wsdl:message name="IContract_PendingContract_InputMessage">
    <wsdl:part name="parameters" element="tns:PendingContract"/>
  </wsdl:message>
  <wsdl:message name="IContract_PendingContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:PendingContractResponse"/>
  </wsdl:message>
  <wsdl:message name="IContract_NumberedContract_InputMessage">
    <wsdl:part name="parameters" element="tns:NumberedContract"/>
  </wsdl:message>
  <wsdl:message name="IContract_NumberedContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumberedContractResponse"/>
  </wsdl:message>
  <wsdl:portType name="IContract">
    <wsdl:operation name="SaveContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/SaveContract" message="tns:IContract_SaveContract_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/SaveContractResponse" message="tns:IContract_SaveContract_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/SearchContract" message="tns:IContract_SearchContract_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/SearchContractResponse" message="tns:IContract_SearchContract_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindContractById">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/FindContractById" message="tns:IContract_FindContractById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/FindContractByIdResponse" message="tns:IContract_FindContractById_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteContractById">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/DeleteContractById" message="tns:IContract_DeleteContractById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/DeleteContractByIdResponse" message="tns:IContract_DeleteContractById_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ApprovedContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/ApprovedContract" message="tns:IContract_ApprovedContract_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/ApprovedContractResponse" message="tns:IContract_ApprovedContract_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RejectedContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/RejectedContract" message="tns:IContract_RejectedContract_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/RejectedContractResponse" message="tns:IContract_RejectedContract_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PendingContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/PendingContract" message="tns:IContract_PendingContract_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/PendingContractResponse" message="tns:IContract_PendingContract_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="NumberedContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/NumberedContract" message="tns:IContract_NumberedContract_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/NumberedContractResponse" message="tns:IContract_NumberedContract_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContract" type="tns:IContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SaveContract">
      <soap:operation soapAction="http://tempuri.org/IContract/SaveContract" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContract">
      <soap:operation soapAction="http://tempuri.org/IContract/SearchContract" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindContractById">
      <soap:operation soapAction="http://tempuri.org/IContract/FindContractById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContractById">
      <soap:operation soapAction="http://tempuri.org/IContract/DeleteContractById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApprovedContract">
      <soap:operation soapAction="http://tempuri.org/IContract/ApprovedContract" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectedContract">
      <soap:operation soapAction="http://tempuri.org/IContract/RejectedContract" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PendingContract">
      <soap:operation soapAction="http://tempuri.org/IContract/PendingContract" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumberedContract">
      <soap:operation soapAction="http://tempuri.org/IContract/NumberedContract" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Contract">
    <wsdl:port name="BasicHttpBinding_IContract" binding="tns:BasicHttpBinding_IContract">
      <soap:address location="http://93.118.123.56/Services/API/IContract.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>