src/Services/PayamGostar/wsdl/icrmobjecttype_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CrmObjectType" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="ICrmObjectType.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="ICrmObjectType_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="ICrmObjectType_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICrmObjectType_GetCrmObjectTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCrmObjectTypeList"/>
  </wsdl:message>
  <wsdl:message name="ICrmObjectType_GetCrmObjectTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCrmObjectTypeListResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrmObjectType_GetCrmObjectTypeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCrmObjectTypeInfo"/>
  </wsdl:message>
  <wsdl:message name="ICrmObjectType_GetCrmObjectTypeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCrmObjectTypeInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrmObjectType_GetCardtable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardtable"/>
  </wsdl:message>
  <wsdl:message name="ICrmObjectType_GetCardtable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardtableResponse"/>
  </wsdl:message>
  <wsdl:portType name="ICrmObjectType">
    <wsdl:operation name="GetCrmObjectTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmObjectType/GetCrmObjectTypeList" message="tns:ICrmObjectType_GetCrmObjectTypeList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmObjectType/GetCrmObjectTypeListResponse" message="tns:ICrmObjectType_GetCrmObjectTypeList_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCrmObjectTypeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmObjectType/GetCrmObjectTypeInfo" message="tns:ICrmObjectType_GetCrmObjectTypeInfo_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmObjectType/GetCrmObjectTypeInfoResponse" message="tns:ICrmObjectType_GetCrmObjectTypeInfo_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCardtable">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmObjectType/GetCardtable" message="tns:ICrmObjectType_GetCardtable_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmObjectType/GetCardtableResponse" message="tns:ICrmObjectType_GetCardtable_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICrmObjectType" type="tns:ICrmObjectType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCrmObjectTypeList">
      <soap:operation soapAction="http://tempuri.org/ICrmObjectType/GetCrmObjectTypeList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCrmObjectTypeInfo">
      <soap:operation soapAction="http://tempuri.org/ICrmObjectType/GetCrmObjectTypeInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardtable">
      <soap:operation soapAction="http://tempuri.org/ICrmObjectType/GetCardtable" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrmObjectType">
    <wsdl:port name="BasicHttpBinding_ICrmObjectType" binding="tns:BasicHttpBinding_ICrmObjectType">
      <soap:address location="http://93.118.123.56/Services/API/ICrmObjectType.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>