src/Services/PayamGostar/wsdl/iform_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Form" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="IForm.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="IForm_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="IForm_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      <xsd:import schemaLocation="IForm_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="IForm_4.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.Domain.Model"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IForm_SaveForm_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveForm"/>
  </wsdl:message>
  <wsdl:message name="IForm_SaveForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFormResponse"/>
  </wsdl:message>
  <wsdl:message name="IForm_SearchForm_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchForm"/>
  </wsdl:message>
  <wsdl:message name="IForm_SearchForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFormResponse"/>
  </wsdl:message>
  <wsdl:message name="IForm_FindFormById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindFormById"/>
  </wsdl:message>
  <wsdl:message name="IForm_FindFormById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindFormByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="IForm_DeleteFormById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFormById"/>
  </wsdl:message>
  <wsdl:message name="IForm_DeleteFormById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFormByIdResponse"/>
  </wsdl:message>
  <wsdl:portType name="IForm">
    <wsdl:operation name="SaveForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IForm/SaveForm" message="tns:IForm_SaveForm_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IForm/SaveFormResponse" message="tns:IForm_SaveForm_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IForm/SearchForm" message="tns:IForm_SearchForm_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IForm/SearchFormResponse" message="tns:IForm_SearchForm_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindFormById">
      <wsdl:input wsaw:Action="http://tempuri.org/IForm/FindFormById" message="tns:IForm_FindFormById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IForm/FindFormByIdResponse" message="tns:IForm_FindFormById_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteFormById">
      <wsdl:input wsaw:Action="http://tempuri.org/IForm/DeleteFormById" message="tns:IForm_DeleteFormById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IForm/DeleteFormByIdResponse" message="tns:IForm_DeleteFormById_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IForm" type="tns:IForm">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SaveForm">
      <soap:operation soapAction="http://tempuri.org/IForm/SaveForm" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForm">
      <soap:operation soapAction="http://tempuri.org/IForm/SearchForm" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindFormById">
      <soap:operation soapAction="http://tempuri.org/IForm/FindFormById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFormById">
      <soap:operation soapAction="http://tempuri.org/IForm/DeleteFormById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Form">
    <wsdl:port name="BasicHttpBinding_IForm" binding="tns:BasicHttpBinding_IForm">
      <soap:address location="http://93.118.123.56/Services/API/IForm.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>