src/Services/PayamGostar/wsdl/IIdentity_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Identity" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="IIdentity.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="IIdentity_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="IIdentity_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      <xsd:import schemaLocation="IIdentity_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="IIdentity_4.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.Domain.Model"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIdentity_SaveIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveIdentity"/>
  </wsdl:message>
  <wsdl:message name="IIdentity_SaveIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveIdentityResponse"/>
  </wsdl:message>
  <wsdl:message name="IIdentity_SearchIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchIdentity"/>
  </wsdl:message>
  <wsdl:message name="IIdentity_SearchIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchIdentityResponse"/>
  </wsdl:message>
  <wsdl:message name="IIdentity_FindIdentityById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindIdentityById"/>
  </wsdl:message>
  <wsdl:message name="IIdentity_FindIdentityById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIdentityByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="IIdentity_DeleteIdentityById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIdentityById"/>
  </wsdl:message>
  <wsdl:message name="IIdentity_DeleteIdentityById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIdentityByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="IIdentity_FindIdentityByPhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:FindIdentityByPhoneNumber"/>
  </wsdl:message>
  <wsdl:message name="IIdentity_FindIdentityByPhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIdentityByPhoneNumberResponse"/>
  </wsdl:message>
  <wsdl:portType name="IIdentity">
    <wsdl:operation name="SaveIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentity/SaveIdentity" message="tns:IIdentity_SaveIdentity_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentity/SaveIdentityResponse" message="tns:IIdentity_SaveIdentity_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentity/SearchIdentity" message="tns:IIdentity_SearchIdentity_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentity/SearchIdentityResponse" message="tns:IIdentity_SearchIdentity_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindIdentityById">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentity/FindIdentityById" message="tns:IIdentity_FindIdentityById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentity/FindIdentityByIdResponse" message="tns:IIdentity_FindIdentityById_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteIdentityById">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentity/DeleteIdentityById" message="tns:IIdentity_DeleteIdentityById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentity/DeleteIdentityByIdResponse" message="tns:IIdentity_DeleteIdentityById_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindIdentityByPhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentity/FindIdentityByPhoneNumber" message="tns:IIdentity_FindIdentityByPhoneNumber_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentity/FindIdentityByPhoneNumberResponse" message="tns:IIdentity_FindIdentityByPhoneNumber_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIdentity" type="tns:IIdentity">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SaveIdentity">
      <soap:operation soapAction="http://tempuri.org/IIdentity/SaveIdentity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchIdentity">
      <soap:operation soapAction="http://tempuri.org/IIdentity/SearchIdentity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindIdentityById">
      <soap:operation soapAction="http://tempuri.org/IIdentity/FindIdentityById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteIdentityById">
      <soap:operation soapAction="http://tempuri.org/IIdentity/DeleteIdentityById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindIdentityByPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/IIdentity/FindIdentityByPhoneNumber" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Identity">
    <wsdl:port name="BasicHttpBinding_IIdentity" binding="tns:BasicHttpBinding_IIdentity">
      <soap:address location="http://93.118.123.56/Services/API/IIdentity.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>