src/Services/PayamGostar/wsdl/IInventory_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts">
  <xs:complexType name="InventoryInfoResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="InventoryInfoList" nillable="true" type="tns:ArrayOfInventoryInfo"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InventoryInfoResult" nillable="true" type="tns:InventoryInfoResult"/>
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult"/>
  <xs:complexType name="ArrayOfInventoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryInfo" nillable="true" type="tns:InventoryInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryInfo" nillable="true" type="tns:ArrayOfInventoryInfo"/>
  <xs:complexType name="InventoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="InventoryId" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="InventoryName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="StockRemain" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryInfo" nillable="true" type="tns:InventoryInfo"/>
</xs:schema>