src/Services/PayamGostar/wsdl/iorganization_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Organization" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="IOrganization.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="IOrganization_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="IOrganization_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      <xsd:import schemaLocation="IOrganization_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="IOrganization_4.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.Domain.Model"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrganization_SaveOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrganization"/>
  </wsdl:message>
  <wsdl:message name="IOrganization_SaveOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrganizationResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganization_SearchOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchOrganization"/>
  </wsdl:message>
  <wsdl:message name="IOrganization_SearchOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchOrganizationResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganization_FindOrganizationById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindOrganizationById"/>
  </wsdl:message>
  <wsdl:message name="IOrganization_FindOrganizationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindOrganizationByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganization_DeleteOrganizationById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrganizationById"/>
  </wsdl:message>
  <wsdl:message name="IOrganization_DeleteOrganizationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrganizationByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganization_GetOrganizationByPhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationByPhoneNumber"/>
  </wsdl:message>
  <wsdl:message name="IOrganization_GetOrganizationByPhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationByPhoneNumberResponse"/>
  </wsdl:message>
  <wsdl:portType name="IOrganization">
    <wsdl:operation name="SaveOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/SaveOrganization" message="tns:IOrganization_SaveOrganization_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/SaveOrganizationResponse" message="tns:IOrganization_SaveOrganization_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/SearchOrganization" message="tns:IOrganization_SearchOrganization_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/SearchOrganizationResponse" message="tns:IOrganization_SearchOrganization_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindOrganizationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/FindOrganizationById" message="tns:IOrganization_FindOrganizationById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/FindOrganizationByIdResponse" message="tns:IOrganization_FindOrganizationById_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrganizationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/DeleteOrganizationById" message="tns:IOrganization_DeleteOrganizationById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/DeleteOrganizationByIdResponse" message="tns:IOrganization_DeleteOrganizationById_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByPhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/GetOrganizationByPhoneNumber" message="tns:IOrganization_GetOrganizationByPhoneNumber_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/GetOrganizationByPhoneNumberResponse" message="tns:IOrganization_GetOrganizationByPhoneNumber_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrganization" type="tns:IOrganization">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SaveOrganization">
      <soap:operation soapAction="http://tempuri.org/IOrganization/SaveOrganization" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrganization">
      <soap:operation soapAction="http://tempuri.org/IOrganization/SearchOrganization" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindOrganizationById">
      <soap:operation soapAction="http://tempuri.org/IOrganization/FindOrganizationById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrganizationById">
      <soap:operation soapAction="http://tempuri.org/IOrganization/DeleteOrganizationById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/IOrganization/GetOrganizationByPhoneNumber" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Organization">
    <wsdl:port name="BasicHttpBinding_IOrganization" binding="tns:BasicHttpBinding_IOrganization">
      <soap:address location="http://93.118.123.56/Services/API/IOrganization.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>