src/Services/PayamGostar/wsdl/IPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="IPerson_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
  <xs:import schemaLocation="IPerson_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:import schemaLocation="IPerson_4.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.Domain.Model"/>
  <xs:element name="SavePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="person" nillable="true" type="q1:PersonInfo" xmlns:q1="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePersonResult" nillable="true" type="q2:SaveCrmObjectResult" xmlns:q2="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="typeKey" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPersonResult" nillable="true" type="q3:PersonInfoResult" xmlns:q3="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="personId" type="q4:guid" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/"/>
        <xs:element minOccurs="0" name="deleteOption" type="q5:CrmObjectDeleteOption" xmlns:q5="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.Domain.Model"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePersonByIdResult" nillable="true" type="q6:SaveCrmObjectResult" xmlns:q6="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="personId" type="q7:guid" xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindPersonByIdResult" nillable="true" type="q8:PersonInfoResult" xmlns:q8="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>