src/Services/PayamGostar/wsdl/iphonelog_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PhoneLog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="IPhoneLog.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="IPhoneLog_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="IPhoneLog_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      <xsd:import schemaLocation="IPhoneLog_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="IPhoneLog_4.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.Domain.Model"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhoneLog_SearchPhoneLog_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPhoneLog"/>
  </wsdl:message>
  <wsdl:message name="IPhoneLog_SearchPhoneLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPhoneLogResponse"/>
  </wsdl:message>
  <wsdl:message name="IPhoneLog_FindPhoneLogById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPhoneLogById"/>
  </wsdl:message>
  <wsdl:message name="IPhoneLog_FindPhoneLogById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPhoneLogByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="IPhoneLog_DeletePhoneLogById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhoneLogById"/>
  </wsdl:message>
  <wsdl:message name="IPhoneLog_DeletePhoneLogById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhoneLogByIdResponse"/>
  </wsdl:message>
  <wsdl:portType name="IPhoneLog">
    <wsdl:operation name="SearchPhoneLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLog/SearchPhoneLog" message="tns:IPhoneLog_SearchPhoneLog_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLog/SearchPhoneLogResponse" message="tns:IPhoneLog_SearchPhoneLog_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindPhoneLogById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLog/FindPhoneLogById" message="tns:IPhoneLog_FindPhoneLogById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLog/FindPhoneLogByIdResponse" message="tns:IPhoneLog_FindPhoneLogById_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneLogById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLog/DeletePhoneLogById" message="tns:IPhoneLog_DeletePhoneLogById_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLog/DeletePhoneLogByIdResponse" message="tns:IPhoneLog_DeletePhoneLogById_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhoneLog" type="tns:IPhoneLog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SearchPhoneLog">
      <soap:operation soapAction="http://tempuri.org/IPhoneLog/SearchPhoneLog" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPhoneLogById">
      <soap:operation soapAction="http://tempuri.org/IPhoneLog/FindPhoneLogById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneLogById">
      <soap:operation soapAction="http://tempuri.org/IPhoneLog/DeletePhoneLogById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneLog">
    <wsdl:port name="BasicHttpBinding_IPhoneLog" binding="tns:BasicHttpBinding_IPhoneLog">
      <soap:address location="http://93.118.123.56/Services/API/IPhoneLog.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>