src/Services/PayamGostar/wsdl/IPriceList_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PriceList" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="IPriceList.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="IPriceList_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="IPriceList_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPriceList_SavePriceList_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePriceList"/>
  </wsdl:message>
  <wsdl:message name="IPriceList_SavePriceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePriceListResponse"/>
  </wsdl:message>
  <wsdl:message name="IPriceList_DeletePriceList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePriceList"/>
  </wsdl:message>
  <wsdl:message name="IPriceList_DeletePriceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePriceListResponse"/>
  </wsdl:message>
  <wsdl:portType name="IPriceList">
    <wsdl:operation name="SavePriceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceList/SavePriceList" message="tns:IPriceList_SavePriceList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceList/SavePriceListResponse" message="tns:IPriceList_SavePriceList_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeletePriceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceList/DeletePriceList" message="tns:IPriceList_DeletePriceList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceList/DeletePriceListResponse" message="tns:IPriceList_DeletePriceList_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPriceList" type="tns:IPriceList">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SavePriceList">
      <soap:operation soapAction="http://tempuri.org/IPriceList/SavePriceList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePriceList">
      <soap:operation soapAction="http://tempuri.org/IPriceList/DeletePriceList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PriceList">
    <wsdl:port name="BasicHttpBinding_IPriceList" binding="tns:BasicHttpBinding_IPriceList">
      <soap:address location="http://93.118.123.56/Services/API/IPriceList.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>