src/Services/PayamGostar/wsdl/iUser_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="User" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="IUser.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="IUser_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="IUser_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts"/>
      <xsd:import schemaLocation="IUser_3.xsd" namespace="http://schemas.datacontract.org/2004/07/SeptaNSFCore.MediaProxy"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserByExtension_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByExtension"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserByExtension_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByExtensionResponse"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserByIdentityId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdentityId"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserByIdentityId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdentityIdResponse"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserExtensions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserExtensions"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserExtensions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserExtensionsResponse"/>
  </wsdl:message>
  <wsdl:message name="IUser_CheckUserAuthentication_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAuthentication"/>
  </wsdl:message>
  <wsdl:message name="IUser_CheckUserAuthentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAuthenticationResponse"/>
  </wsdl:message>
  <wsdl:message name="IUser_UpdateTelephonyPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTelephonyPassword"/>
  </wsdl:message>
  <wsdl:message name="IUser_UpdateTelephonyPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTelephonyPasswordResponse"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserHelperExtensionBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserHelperExtensionBy"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserHelperExtensionBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserHelperExtensionByResponse"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList"/>
  </wsdl:message>
  <wsdl:message name="IUser_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse"/>
  </wsdl:message>
  <wsdl:message name="IUser_ResendRecoverPasswordEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendRecoverPasswordEmail"/>
  </wsdl:message>
  <wsdl:message name="IUser_ResendRecoverPasswordEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendRecoverPasswordEmailResponse"/>
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUser" message="tns:IUser_GetUser_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUserResponse" message="tns:IUser_GetUser_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetUserByExtension">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUserByExtension" message="tns:IUser_GetUserByExtension_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUserByExtensionResponse" message="tns:IUser_GetUserByExtension_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetUserByIdentityId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUserByIdentityId" message="tns:IUser_GetUserByIdentityId_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUserByIdentityIdResponse" message="tns:IUser_GetUserByIdentityId_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetUserExtensions">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUserExtensions" message="tns:IUser_GetUserExtensions_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUserExtensionsResponse" message="tns:IUser_GetUserExtensions_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthentication">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/CheckUserAuthentication" message="tns:IUser_CheckUserAuthentication_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/CheckUserAuthenticationResponse" message="tns:IUser_CheckUserAuthentication_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateTelephonyPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/UpdateTelephonyPassword" message="tns:IUser_UpdateTelephonyPassword_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/UpdateTelephonyPasswordResponse" message="tns:IUser_UpdateTelephonyPassword_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetUserHelperExtensionBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUserHelperExtensionBy" message="tns:IUser_GetUserHelperExtensionBy_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUserHelperExtensionByResponse" message="tns:IUser_GetUserHelperExtensionBy_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUserList" message="tns:IUser_GetUserList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUserListResponse" message="tns:IUser_GetUserList_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ResendRecoverPasswordEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/ResendRecoverPasswordEmail" message="tns:IUser_ResendRecoverPasswordEmail_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/ResendRecoverPasswordEmailResponse" message="tns:IUser_ResendRecoverPasswordEmail_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUser" type="tns:IUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByExtension">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUserByExtension" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByIdentityId">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUserByIdentityId" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserExtensions">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUserExtensions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthentication">
      <soap:operation soapAction="http://tempuri.org/IUser/CheckUserAuthentication" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTelephonyPassword">
      <soap:operation soapAction="http://tempuri.org/IUser/UpdateTelephonyPassword" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserHelperExtensionBy">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUserHelperExtensionBy" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUserList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendRecoverPasswordEmail">
      <soap:operation soapAction="http://tempuri.org/IUser/ResendRecoverPasswordEmail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="BasicHttpBinding_IUser" binding="tns:BasicHttpBinding_IUser">
      <soap:address location="http://93.118.123.56/Services/API/IUser.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>